$blue-500: #3b82f6;
$blue-700: darken($blue-500, 10%);
$gray-800: #2d3748;
$gray-500: #718096;
$background-color: #f3f4f6; // Usando el mismo gris para el fondo
$shadow-color: rgba(0, 0, 0, 0.1);

.section {
  background: $background-color;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px $shadow-color;
  padding: 1rem;
  max-width: 1024px;
  margin: 2rem auto;

  h2 {
    color: $gray-800;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .relative {
    position: relative;
    border-radius: 0.375rem;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    img {
      display: block;
      width: 100%;
      height: auto;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    button {
      position: absolute;
      bottom: 12px;
      right: 12px;
      background-color: $blue-500;
      color: white;
      padding: 0.25rem 0.5rem;
      border-radius: 0.375rem;
      font-weight: bold;
      text-transform: uppercase;
      transition: background-color 0.3s, box-shadow 0.3s;

      &:hover {
        background-color: $blue-700;
        box-shadow: 0 5px 15px rgba($blue-500, 0.3);
      }
    }
  }

  .ng-template {
    text-align: center;
    color: $gray-500;
    font-size: 1rem;
  }
}
